# Use the following command to regenerate Python dependencies
# flatpak-pip-generator --runtime=org.gnome.Sdk//50 -o pypi-dependencies -r requirements.txt --prefer-wheels=deepdiff,cachebox,cryptography,ast_serialize

appdirs
binaryornot
cachetools
certifi
chardet
charset-normalizer
deepdiff
docker
durationpy
fs
google-auth
idna
kathara
kubernetes
markdown-it-py
mdurl
mypy
mypy-extensions
oauthlib
ordered-set
packaging
pyasn1
pyasn1_modules
Pygments
pyroute2
python-dateutil
PyYAML
requests
requests-oauthlib
requirements-parser
rich
rsa
setuptools
six
slug
types-setuptools
typing_extensions
urllib3
websocket-client
